#header,
.thumb_meta,
.item_meta,
.w-social,
.fa-user,
.meta_comments,
.fas,
.xda-discuss,
.meta_format,
.et_social_inline,
.et_social_sidebar_networks,
.fab,
.author_avatar_social,
.thumb_icon,
.progress,
.xda-post-related,
.sidebar {
	display: none !important;
}

.container {
	margin-top: unset !important;
}

.full_meta span.meta_date::before {
	content: unset !important;
}

.item_thumb:hover,
.item_thumb:hover img {
	opacity: 1 !important;
}

.main-content {
	width: unset !important;
}

