.article-single #social-left,
.xrail,
#article-footer,
#social-footer,
.header-left,
#header-search,
#header-burger,
#header-account,
.ad,
.inline-video,
article footer {
	display: none !important;
}

.article-single .column-wrapper .left-column,
.listing-latest {
	width: inherit !important;
}

article::after {
	border: unset !important;
}

