.band.content.main,
.band.sub-nav.main,
.post,
.article-nav,
.primary .post-footer-inner
 {
	background: #444444 !important;
	color: #EEEEEE !important;
}

a {
	color: #E6E6E6 !important;
}

.frame {
	background-color: rgba(0,0,0,.5);
}

