.band.header,
.ap-new-articles,
.secondary.column,
.comment-btn,
.post-hotness-meter,
.share-box,
.ap-hottest-content-wrapper,
.btn-subscribe,
.single-post-widget,
blockquote.pr footer,
.fade-text {
	display: none !important;
}

.primary.column {
	width: 100% !important;
}

.img-hero {
	margin: auto !important;
}

blockquote.pr section {
	max-height: unset !important;
}

.frame {
	background: unset !important;
}

.post-footer .article-nav {
	margin-bottom: 1px !important;
}

